<html>
    <head>
        <title>Mastermind</title>
        <link rel="stylesheet">
    </head>

    <body>
        <main>
            <section id="top">
                <h1>Mastermind</h1>
                <h2>Code-breaking game for two players</h2>
            </section>

            <!-- eventueel naam invullen -->

            <section id="play">
                <form action="/play" method="get">
                    <button type="submit">Play</button>
                </form>
            </section>

            <!-- wordt missch aangepast naar onmouseover/onmouseout -->
            <section id="instruction">
                <button onclick="instructionButton()">Instructions</button>
            </section>

            <section>
                <h3><%= gamesInitialized %> 
                    <%if (gamesInitialized != 1) { %>
                        games
                    <% } else { %>
                        game
                    <% } %>
                    started, 
                    <%= gamesCompleted %> 
                    completed

                </h3>
            </section>

            <script src="javascripts/instruction.js"></script>
        </main>
    </body>
</html>