@import "style.css";

button {
    background: white;
    color: black;
    width: 100px;
    padding:5px;
    font-weight:bold;
    text-align: center;
    border:1px solid darkgray;
}

button:hover:enabled {
    color:white;
    background:darkgray;
}

button:active {
    border:1px dashed;
    border-color: black;
}

#checkboard {
    vertical-align: middle;
    bottom: 20px;
}

#players button:enabled {
    background-color: rgb(240, 112, 112);
    border-color: darkred;
}

#board button {
    width: 30px;
    height: 30px;
}